@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

<div class="bg-body-tertiary border rounded-3 position-relative p-2 ms-0 ms-md-2 badge-container">
    @if (Badge != null)
    {
        <div class="position-sticky top-0 bg-body-tertiary pb-3">
            <div class="d-flex pt-1">
                <span class="badge-image @(Badge.Level)"></span>
                <span>Title Description</span>
            </div>
            <hr class="p-0">

            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active">Approval Method</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>

        <div class="content-container" style="height: calc(100vh - 350px); overflow-y: auto; overflow-x: hidden;">
            <div class="row">
                <div class="col-md-6">
                    <div class="p-3 border bg-light mb-3">
                        <h5>Row 1 of Column 1</h5>
                        <p>This is the first row of the first column.</p>
                        <p>This is the first row of the first column.</p>
                        <p>This is the first row of the first column.</p>
                        <p>This is the first row of the first column.</p>
                        <p>This is the first row of the first column.</p>
                        <p>This is the first row of the first column.</p>
                        <p>This is the first row of the first column.</p>
                        <p>This is the first row of the first column.</p>
                    </div>
                    <div class="p-3 border bg-light">
                        <h5>Row 2 of Column 1</h5>
                        <p>This is the second row of the first column.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3 border bg-light">
                        <h5>Column 2</h5>
                        <p>This is the content of the second column.</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
