.badge-container {
    height: 400px;
}

.badge-image {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}

.Gold {
    background: url("images/icons/Gold.png") center/cover no-repeat;
}
.Silver {
    background: url("images/icons/Silver.png") center/cover no-repeat;
}
.Bronze {
    background: url("images/icons/Bronze.png") center/cover no-repeat;
}
