@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

@if (Badge != null)
{
    <div class="row align-items-center m-0 p-2 pb-3">
        <h1 class="display-5 col-10">@Badge.Title</h1>
        <button type="button" class="btn btn-primary col-2">Edit</button>
    </div>
    <div style="overflow:auto;width: 50%;max-height:500px;">
        <BitLabel>Badge Code : @Badge.Code</BitLabel>
        <BitLabel>Badge Level : @Badge.Level</BitLabel>
        <BitLabel>Badge Description : @Badge.Description</BitLabel>
    </div>
}

