@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

@if (Badge != null)
{
    <div class="d-flex align-items-center m-0 p-2 pb-3">
        <h1 class="display-5 col-10 d-flex align-items-center">
            @Badge.Title
        </h1>
        
        <div class="d-flex align-items-center ml-auto">
            <button type="button" class="btn btn-primary">Edit</button>
        </div>
    </div>
    <div style="overflow:auto; width: 100%; max-height:500px;">
        <BitLabel>Badge Code : @Badge.Code</BitLabel>
        <BitLabel>Badge Level : @Badge.Level</BitLabel>
        <BitLabel>Badge Description : @Badge.Description</BitLabel>
    </div>
}
