.accordion .collapse {
    transition: height 0.3s ease;
}
.list-group-item {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.list-group-item:hover {
    background-color: #f7f2fa;
}

.list-group-item.active:hover {
    background-color: #007bff;
    cursor: default;
}
.container {
    min-height: 400px;
    overflow-y: auto;
}

.custom-bg-color {
    background-color: #f2f2f2 !important;
  }