@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

<div class="container-fluid pb-6">
    <div class="mt-1 mb-4">
        <div class="row justify-content-start">
            <div class="col-12 col-md-6" style="max-width: 567px;">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-primary" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="mx-md-3">
        <div class="row">
            <div class="col-md-6 badge-list px-3 px-md-0">
                <BadgeTree BadgeBundleDto="Bundle" BadgeDtoCallBack="@GetBadge"></BadgeTree>
            </div>
            <div class="col-md-6 badge-details px-3 mt-3 mt-md-0">
                <BadgeContent Badge="BadgeDto"></BadgeContent>
            </div>
        </div>
    </div>
</div>
