@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase


<div class="container-fluid pb-3">
    <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
        <div class="bg-body-tertiary border rounded-3">
            <BadgeTree BadgeBundleDto="Bundle" BadgeDtoCallBack="@GetBadge"></BadgeTree>
        </div>
        <div class="bg-body-tertiary border rounded-3">
            <BadgeContent Badge="BadgeDto"></BadgeContent>
        </div>
    </div>
</div>