@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

<div class="container-fluid pb-6">
    <div class="d-flex gap-4">
        <div class="badge-list px-md-0 flex-shrink-0 flex-grow-0">
            <BadgeTree BadgeBundleDto="Bundle" BadgeDtoCallBack="@GetBadge"></BadgeTree>
        </div>
        <div class="badge-list px-md-0 mt-md-0 mt-3 position-relative flex-grow-1">
            <BadgeContent Badge="BadgeDto"></BadgeContent>
        </div>
    </div>
</div>