@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

<div class="container-fluid pb-3">
    <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
        <div class="bg-body-tertiary border rounded-3">
            <ProgramDocumentTree ProgramDocuments="_programDocuments" ProgramDocumentCallBack="@GetProgramDocument"></ProgramDocumentTree>
        </div>
        <div class="bg-body-tertiary border rounded-3">
            <ProgramDocumentContent ProgramDocument="_programDocument"></ProgramDocumentContent>
        </div>
    </div>
</div>