@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

<div class="container-fluid pb-6">
    <div class="mx-md-3">
        <div class="row">
                <div class="col-md-2 badge-list px-md-0">
                    <BadgeTree BadgeBundleDto="Bundle" BadgeDtoCallBack="@GetBadge"></BadgeTree>
                </div>
            <div class="col-md-10 badge-list px-md-0 mt-md-0 mt-3 position-relative">
                <BadgeContent Badge="BadgeDto"></BadgeContent>
            </div>
        </div>
    </div>
</div>
