@using CrystaLearn.Client.Core.Components.CrystaComponents
@inherits AppComponentBase

<BitAppShell PersistScroll>
    <BitLayout StickyHeader Styles="@(new()
                            {
                                Main = "height:fit-content",
                                NavPanel = "top: 4rem;position: sticky;overflow: hidden auto;height: var(--bit-env-height-avl);"
                            })">
        <Header>
            <CrystaHeader />
        </Header>
        <NavPanel>
            <CrystaNav @bind-SelectedItem="selectedItem"
                       Items="navPanelItems"
                       OnSelectItem="(BitNavItem item) => OnSelectNavItem(item)" />
        </NavPanel>
        <Main>
            <div class="site-content">
                @ChildContent
            </div>
        </Main>
        <Footer>
            <div class="footer">Footer</div>
        </Footer>
    </BitLayout>
</BitAppShell>