@using CrystaLearn.Client.Core.Components.CrystaComponents
@inherits AppComponentBase

<BitAppShell PersistScroll>
    <main class="@GetMainCssClass()">
        <div class="main-container">
            <div class="class1">
                <Header />
                <div class="class2">
                    <CrystaNav @bind-SelectedItem="selectedItem"
                               Items="navPanelItems"
                               OnSelectItem="(BitNavItem item) => OnSelectNavItem(item)" />
                    <div class="main-body">
                        <div class="body">
                            @ChildContent
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</BitAppShell>