@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

<div style="display: flex; gap: 15px;">
    <BadgeTree BadgeBundleDto="Bundle" BadgeDtoCallBack=@GetBadge></BadgeTree>
    <BadgeContent Badge="BadgeDto"></BadgeContent>
</div>
