@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

@if (Badge != null)
{
    <div style="overflow:auto;width: 50%;max-height:500px;">
        <BitLabel>Badge Code : @Badge.Code</BitLabel>
        <BitLabel>Badge Level : @Badge.Level</BitLabel>
        <BitLabel>Badge Description : @Badge.Description</BitLabel>
    </div>
}

