@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

@if (Badges != null)
{
    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">An active item</li>
        @foreach (var badge in Badges)
        {
            <li class="list-group-item" @onclick="() => OnBadgeClick(badge)">@badge.Title</li>
        }
    </ul>
}
