.list {
    border: 1px #a19f9d solid;
    border-radius: 3px;
    height: auto;
}

.badge-row {

    &:hover {
        cursor: pointer;
        background-color: lightskyblue;

        div {
            color: black;
        }
    }

    .badge-name-color {
        color: white;
    }
}
