@inherits AppComponentBase
<div>
    @* <BitNav @bind-SelectedItem="SelectedItem"
            Items="Items"
            Class="nav-panel"
            Mode="BitNavMode.Manual"
            OnSelectItem="(BitNavItem item) => HandleSelectItem(item)"
            Accent="BitColor.SecondaryBackground" /> *@

    <BitNavPanel @bind-IsOpen="IsNavPanelOpen"
                 Top="65"
                 NoPad NoToggle
                 Items="Items"
                 Style="width:360px"
                 SearchBoxPlaceholder="Search component"
                 SearchBoxStyles="@(new() { Root = "padding-inline:8px" })" />
</div>