@inherits AppComponentBase

<section class="sign-in-section">
	<BitStack FitHeight Gap="0.8rem">
		<SignInPanel OnSuccess="OnSuccess"
					 ReturnUrlQueryString="@ReturnUrl"
					 SignInPanelType="SignInPanelType.Social"
					 Title=@Title
					 OnClose="@CloseModal"
					 SubTitle=@SubTitle />
	</BitStack>
</section>
