@inherits AppComponentBase
<section>
    <BitStack Dir="BitDir.Auto" Horizontal HorizontalAlign="BitAlignment.Start" @onclick="@CloseModal">
        @if (currentMode == SignInPanelMode.DefaultMode)
        {
            <BitStack Gap="0rem">
                <BitText Class="header-text">@Title</BitText>
                <BitText Class="desc-text">@SubTitle</BitText>
            </BitStack>
        }
        <CsLearnIcon Class="cslearn-close-icon" IconName="icon-delete" />
    </BitStack>
    @if (isOtpSent || requiresTwoFactor)
    {
        <!-- Check out ShowSignInPanel's comments -->
        <NavigationLock OnBeforeInternalNavigation="HideTfaAndOtpPanels" />
    }

    @if (currentMode == SignInPanelMode.AuthenticatingMode)
    {
        <AuthenticatingModal />
    }
    else if (currentMode == SignInPanelMode.WelcomeMode)
    {
        <WelcomModal/>
    }
    else
    {

        <BitStack dir="BitDir.Auto" HorizontalAlign="BitAlignment.Center" FillContent Style="margin-top:1.6rem">
            <EditForm Model="model" OnSubmit="WrapHandled(DoSignIn)" novalidate>
                <AppDataAnnotationsValidator @ref="validatorRef" />

                <BitStack HorizontalAlign="BitAlignment.Center">
                    @if (requiresTwoFactor is false)
                    {
                        @if (isOtpSent is false)
                        {
                            <BitStack HorizontalAlign="BitAlignment.Start" FillContent Gap="1.6rem" Style="padding-bottom:2rem;">
                                <BitText Class="icons-text"> @Localizer[nameof(AppStrings.ContinueWithYour)]</BitText>
                                <SocialRow IsWaiting="isWaiting" OnClick="SocialSignIn" />

                            </BitStack>
                        }
                        else
                        {
                            <OtpPanel Model="model"
                                      OnSignIn="DoSignIn"
                                      IsWaiting="isWaiting"
                                      OnResendOtp="WrapHandled(() => SendOtp(resend:true))" />
                        }
                    }
                    else
                    {
                        <TfaPanel model="model"
                                  IsWaiting="isWaiting"
                                  OnTokenProvided="DoSignIn"
                                  OnSendTfaToken="WrapHandled(SendTfaToken)" />
                    }
                </BitStack>
            </EditForm>
        </BitStack>

    }
</section>