@import '../../Styles/abstracts/_media-queries.scss';
@import '../../Styles/abstracts/_bit-css-variables.scss';
@import '../../Styles/abstracts/_vars.scss';

.site-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: $bit-color-background-secondary;
}

main {
    width: 100%;
    min-height: 100%;

    @include lt-md {
        height: unset;
        min-height: $bit-env-height-available;
    }

    .main-container {
        display: flex;
        height: 100%;
        overflow: auto;
    }

    .main-body {
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100vh;
        /*width: calc(100% - 280px);*/

        @include lt-md {
            width: 100%;
        }
    }

    &.identity {
        .main-container {
            width: 100%;
            flex-direction: column;
        }

        .main-body {
            width: auto;
            flex-grow: 1;
            flex-direction: row;
        }

        .body {
            width: 30%;
            height: 100%;
            padding: 4rem;
            min-width: 35rem;
            padding-top: 5rem;
            background-color: $bit-color-background-secondary;
            border-inline-end: 1px solid $bit-color-border-secondary;

            @include lt-md {
                width: 100%;
                border: none;
                min-width: unset;
                padding-inline: 1rem;
                background-color: $bit-color-background-primary;
            }
        }

        .panel {
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include lt-md {
                display: none;
            }
        }
    }

    &.non-identity {
        .main-container {
            width: auto;
            flex-direction: row;
        }

        .main-body {
            flex-grow: 1;
            flex-direction: column;

            @include lt-md {
                gap: 1rem;
            }

            @include lt-sm {
                gap: 0;
            }
        }

        .body {
            width: 100%;
            height: 100%;
            overflow: auto;
            padding: 1rem;
            background-color: $bit-color-background-primary;

            @include lt-md {
                height: unset;
                padding-bottom: 4.5rem;
            }
        }
    }
}

::deep {
    .validation-message {
        font-size: 12px;
        text-align: start;
        line-height: 16px;
        color: $bit-color-error;
    }

    .app-version {
        position: absolute;
        inset-block-end: 0;
        inset-inline-end: 0;
    }
}


@media screen and (min-width: $breakpoint-md) {
    ::deep .cslearn-panel-container {

        & > section {
            padding: 2.4rem 2.4rem 4.2rem 2.4rem;
        }
    }
}

::deep {
    .validation-message {
        font-size: 12px;
        text-align: start;
        line-height: 16px;
        color: $bit-color-error;
    }

    .nav-panel {
        width: 280px;

        @include lt-md {
            width: 210px;
        }
    }

    .cslearn-panel-overlay {
        background: rgba(2, 33, 41, 0.30);
        backdrop-filter: blur(2.5px);
    }

    .cslearn-panel-container {
        max-width: 60rem;
        margin: 0 auto;
        border-radius: 2rem 2rem 0 0;
        box-shadow: unset;
        background-color: var(--bit-clr-bg-pri);

        & > section {
            height: fit-content !important;
            width: 100% !important;
            padding: 2.4rem 2.4rem 4.2rem 2.4rem;
        }
    }
}


@media screen and (max-width: $breakpoint-md) {

    ::deep {
        .conversation-panel {
            z-index: 99999999;

            .cslearn-panel-container {
                & > section {
                    padding: 2.4rem 2.4rem 3.2rem 2.4rem !important;
                }
            }
        }
    }
}