@page "/badge-system/github"
@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

<div style="padding: 50px; width: 100%;">
    <div style="width: 100%;">
        <BitLabel>GitHub URL:</BitLabel>
        <div style="display: flex;">
            <BitTextField Style="width: 100%" @bind-Value="GitHubUrl" />
            <BitIconButton IconName="BitIconName.Search" OnClick="LoadBadgeSystem" />
        </div>
    </div>
    <BitLabel Style="margin: 20px 0;">@GitHubUrl</BitLabel>
    <BadgeSystem Bundle="Bundle"></BadgeSystem>
</div>
