@inherits AppComponentBase

<header>
    <BitStack Horizontal VerticalAlign="BitAlignment.Center" Gap="0.25rem">
        <BitActionButton OnClick="WrapHandled(OnLogoClicked)">
            <BitText Typography="BitTypography.H5" NoWrap Style="padding: 1rem;">
                Crysta Learn
            </BitText>
        </BitActionButton>
        @*  <BitButton IconOnly FixedColor
                   Class="menu-btn"
                   Size="BitSize.Large"
                   OnClick="OpenNavPanel"
                   Variant="BitVariant.Text"
                   Color="BitColor.SecondaryBackground"
                   IconName="@BitIconName.CollapseMenu" /> *@

        @*  <BitStack VerticalAlign="BitAlignment.Center" Gap="0.5rem" AutoSize>
            <BitStack VerticalAlign="BitAlignment.Center" Gap="0.25rem" Horizontal>
                @if (showGoBackButton)
                {
                    <BitButton Variant="BitVariant.Text"
                               IconName="@(CurrentDir is BitDir.Rtl ? BitIconName.ChromeBackMirrored : BitIconName.ChromeBack)"
                               OnClick="GoBack"
                               Title="@Localizer[nameof(AppStrings.Back)]" />
                }
                <BitText Typography="BitTypography.H5">
                    @pageTitle
                </BitText>
            </BitStack>
            @if (string.IsNullOrWhiteSpace(pageSubtitle) is false)
            {
                <BitText Typography="BitTypography.Body1" Foreground="BitColorKind.Secondary">
                    @pageSubtitle
                </BitText>
            }
        </BitStack> *@

        <DiagnosticSpacer />

        <BitActionButton Class="toggle-theme-btn theme-light" OnClick="WrapHandled(ToggleTheme)">
            <span class="icon-container"><i class="bit-icon bit-icon--ClearNight"></i></span>
        </BitActionButton>
        <BitActionButton Class="toggle-theme-btn theme-dark" OnClick="WrapHandled(ToggleTheme)">
            <span class="icon-container"><i class="bit-icon bit-icon--Sunny"></i></span>
        </BitActionButton>
        @* <AppMenu /> *@
    </BitStack>
</header>
