$Blue2: #0077B2;

$Gray200: #DBDBDB;
$Gray600: #C1C1C1;

$Green: #00AB6E;
$Green1: #00D68A;
$Green2: #005261;
$Green3: #022129;
$Green4: #021B22;
$Green5: #34A853;

$Red: #F84345;

$Yellow: #ffd054;

$White: #FFFFFF;