// ------------------- Greycliff CF -------------------

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-BoldOblique.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-DemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-DemiBoldOblique.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-ExtraBoldOblique.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-ExtraBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-ExtraLightOblique.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-LightOblique.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-HeavyOblique.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-MediumOblique.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-RegularOblique.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Greycliff CF";
    src: url("/_content/CrystaLearn.Client.Core/fonts/Greycliff/GreycliffCF-ThinOblique.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}