@inherits AppComponentBase

<section>
    <BitStack Dir="BitDir.Ltr" Horizontal Alignment="BitAlignment.SpaceBetween">

		<SocialButton IsWaiting="IsWaiting" OnClick="WrapHandled(HandleMicrosoft)" Title="@Localizer[AppStrings.MicrosoftLoginButtonText]">
			<CsLearnIcon IconName="icon-microsoft--filled" Class="cslearn-social-icon-style" />
		</SocialButton>

        <SocialButton IsWaiting="IsWaiting" OnClick="WrapHandled(HandleGoogle)" Title="@Localizer[AppStrings.GoogleLoginButtonText]">
			<CsLearnIcon IconName="icon-google--letter" Class="cslearn-social-icon-style disabled-button" />
        </SocialButton>


        <SocialButton IsWaiting="IsWaiting" OnClick="WrapHandled(HandleFacebook)" Title="@Localizer[AppStrings.FacebookLoginButtonText]">
			<CsLearnIcon IconName="icon-facebook--letter" Class="cslearn-social-icon-style disabled-button" />
        </SocialButton>

        <SocialButton IsWaiting="IsWaiting" OnClick="WrapHandled(HandleApple)" Title="@Localizer[AppStrings.AppleLoginButtonText]">
			<CsLearnIcon IconName="icon-apple--filled" Class="cslearn-social-icon-style icon-apple-style disabled-button" />
        </SocialButton>

    </BitStack>
</section>