@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_functions.scss';

.home-actions {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    align-items: center;
    gap: 1rem;
}
