@page "/"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.HomeTitle)]</PageTitle>

<div class="container">
    <h1 class="h1">CS System</h1>
    <p class="lead my-5">
        CS System is a versatile software designed to run the CS Internship program. However, its flexibility allows it to be used for any education program. Companies and organizations can easily integrate their own documentation and policies into CS System, making it a comprehensive solution for managing educational programs.
    </p>
    <div class="w-100 d-flex justify-content-center justify-content-center gap-3">
        <NavLink href="/badge-system/default" class="btn btn-primary btn-lg">Default Badge System</NavLink>
        <NavLink href="/badge-system/github" class="btn btn-primary btn-lg">GitHub Badge System</NavLink>
        <NavLink href="/education-program" class="btn btn-primary btn-lg">Education Program</NavLink>
    </div>
</div>

