@page "/OrganizationsSettings"
@using CrystallineSociety.Shared.Dtos.BadgeSystem
@using CrystallineSociety.Shared.Dtos.Organization
@inherits AppComponentBase

<BitBasicList TItem="OrganizationDto"
              ItemSize="4"
              Items="Organizations"
              Style="border: 1px #a19f9d solid; border-radius: 3px; height: auto; width: 50%;max-height:500px;">
    <RowTemplate Context="Organization">
        <div @key="Organization.Code" style="@(Organizations.Count > 1 ? "border-bottom: 1px #8a8886 solid; padding: 5px 20px; margin: 10px;" : "")">
            <div style="margin-left:3%; display: inline-block;">
                <p>Organization Name: <strong>@Organization.Title</strong></p>
                <BitButton OnClick="WrapHandled(()=>HandelSyncAsync(Organization))">
                    Sync
                    <BitRollerLoading Size="@(IsSyncing ? 13 : 0)" />
                </BitButton>
            </div>
        </div>
    </RowTemplate>
</BitBasicList>