@namespace CrystallineSociety.Client.Core.Components.Layout
@inherits LayoutComponentBase

<CascadingValue Value="@_appStateDto" Name="AppState">
    <div class="main text-bg-light">
        <Header OnToggleMenu=ToggleMenuHandler />
        <div class="page-wrapper py-5 px-3">
            <AppErrorBoundary>
                @Body
            </AppErrorBoundary>
        </div>
        <Footer />
    </div>

    <MessageBox />
</CascadingValue>

@* <CascadingValue Value="@_appStateDto" Name="AppState">
    <Header OnToggleMenu=ToggleMenuHandler />

    @if (_isUserAuthenticated)
    {
    <NavMenu @bind-IsMenuOpen=_isMenuOpen />
    }

    <div class="main @(_isUserAuthenticated ? "main--authenticated" : null)">
        <div>
            <AppErrorBoundary>
                @Body
            </AppErrorBoundary>
        </div>
        <Footer />
    </div>

    <MessageBox />
</CascadingValue> *@
