@import '../../Styles/abstracts/_media-queries.scss';
@import '../../Styles/abstracts/_colors.scss';
@import '../../Styles/abstracts/_functions.scss';

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.page-wrapper {
    flex-grow: 1;
}

