@import '../Styles/abstracts/_font-icon.scss';
@import '../Styles/abstracts/_colors.scss';


.cslearn-ico {
    display: inline-block;
    font-style: normal;
    font-weight: normal;

    &.blue {
        color: $Blue2;
    }

    &.gray {
        color: $Gray200
    }

    &.green {
        color: $Green
    }
}