@inherits AppComponentBase;

<section>
    <BitStack Gap="0rem" Class="cslearn-modal-container">
        <BitStack Gap="0.8rem">
            <BitStack Gap="0rem" Alignment="BitAlignment.Center">
                <CsLearnIcon Class="cslearn-icon-style" IconName="@CsLearnIconName.checkMark" />
            </BitStack>

            <BitStack Gap="0.4rem" Style="align-items:flex-start;justify-content:flex-start;">
                <BitText Class="cslearn-header-text">@Localizer[nameof(AppStrings.WelcomeForModal)]</BitText>
                <BitText Class="cslearn-desc-text">@Localizer[nameof(AppStrings.SuccessfullyLoggedIn)]</BitText>
            </BitStack>
        </BitStack>
    </BitStack>
</section>