@import '../../../Styles/abstracts/_media-queries.scss';
@import '../../../Styles/abstracts/_bit-css-variables.scss';

::deep {
    .root-stack {
        max-width: 60rem;
    }

    .crst-crd {
        padding: 3rem;
        background-color: $bit-color-background-primary;
    }
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}