@namespace CrystallineSociety.Client.Shared
@inherits AppComponentBase

<header class="container-fluid p-3 border-bottom">
    <div class="row px-3">
        <div class="col-2 dropdown">
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">@(AppState.Organization == null ? "Organizations" : $"{AppState.Organization.Title} ({AppState.Organization.Code})")</span>
            </a>

            <ul class="dropdown-menu text-small shadow" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 34px);">
                @foreach (var organization in Organizations)
                {
                    <li @onclick="()=>HandleOrganizationClick(organization)"><a class="dropdown-item @(ActiveOrganization?.Code == organization.Code ?"active" :"") btn">@organization.Title</a></li>
                }
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/OrganizationsSettings">Organization Settings...</a></li>
            </ul>
        </div>

        <div class="col-10 text-end">
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" style="">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>